<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID" version="3.0">
    <display-name>JavaBallot</display-name>
    <welcome-file-list>
        <welcome-file>imageTomcat.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>resteasy</servlet-name>

        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServlet30Dispatcher
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.acme.quickstart.LabelApplication</param-value>
        </init-param>
        <init-param>
             <param-name>resteasy.servlet.mapping.prefix</param-name>
             <param-value>/quarkusai</param-value>
        </init-param>
        <async-supported>true</async-supported>
    </servlet>

    <servlet-mapping>
        <servlet-name>resteasy</servlet-name>
        <url-pattern>/quarkusai/*</url-pattern>
    </servlet-mapping>
</web-app>